.App {
  text-align: center;
}

header,footer{
  border: 1px solid black;
} 

.review{
  width: 850px;
  border: 5px solid black;
  padding: 10px;
  margin: 100px 100px 100px 500px;
}

.footer{
  width: 850px;
  border: 5px solid black;
  padding: 10px;
  margin: 100px 100px 100px 500px;
}

 /* .layout{
  display: grid;
  grid-template-areas: 
  "header header header header header header"
  "header header header header header header"
  "CreateReview CreateReview CreateReview  CreateReview CreateReview CreateReview"
  "CreateReview CreateReview CreateReview CreateReview CreateReview CreateReview"
  ""
  "CreateReview CreateReview CreateReview CreateReview CreateReview CreateReview"
  "CreateReview CreateReview CreateReview CreateReview CreateReview CreateReview"
  ""
  "CreateReview CreateReview CreateReview CreateReview CreateReview CreateReview"
  " CreateReview CreateReview CreateReview CreateReview CreateReview CreateReview"
  ""
  ""
  ""
  ""
  ""
  ""
  ""
  ""
  ""
  "footer footer footer footer footer footer"
  "footer footer footer footer footer footer"
} */