.App {
  text-align: center;
  min-height: 100vh;
}

header,footer{
  font-size: 30px;
  border: 5px solid black;
  width: 870px;
  margin: 0 auto;
} 

.review-container{
  margin-top: 10px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 90vw;
  margin: 0 auto;
}

.user-div{
  margin-top: 10px;
  margin-bottom: 10px;
}

.create-from{
  display: flex;
  flex-direction: column;
}

.update-form{
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 10px;
}

.review{
  border: 5px solid black;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.footer{
  width: 850px;
  border: 5px solid black;
  padding: 10px;
  margin: 100px 100px 100px 500px;
}



@media only screen and (max-width: 2560px) {
  .App {
    background-image: linear-gradient(to bottom right, blue, yellow);
  }
  .review-container{
    grid-template-columns: repeat(3, 1fr);
    width: 50vw;
  }

}

@media only screen and (max-width: 800px) {
  .App {
    background-image: linear-gradient(to bottom right,purple,blue );
  }

  .review-container{
    grid-template-columns: repeat(2, 1fr);
    width: 80vw;
  }

  .review{
    width: 200px;
    margin: 0 auto;
  }
  header,footer{
    width: 200px;
    margin: 0 auto;
  }
}